<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Portföy</title>
  </head>
  <body>
    <header class="header">
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">Fonksiyonlar</h2>
        <form action="/" method="POST">
          
        </form>
    </header>
    <main class="main">
      <!-- Önizleme bölümü -->
      
        
      </section>
      <!-- Hakkımda bölümü -->
      
      <!-- Beceriler bölümü -->
      <section class="main__skills skills" id="skills">
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/chat.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_chat" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/h_d.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_hd" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/o.png"
                alt="db"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_o" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/todo.png"
                alt="a"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_todo" value="SHOW PROJECT">
            </li>
            
              
              
          </ul>
        </form>
        {% if button_chat%}
          <div class="skills__project project" id="project">
              
              <a class="project__link" href="ses">Sesli sohbet</a>
          </div>
        
        {% elif button_hd%}
          <div class="skills__project project" id="project">
              
              <a class="project__link" href="h_d">Hava durumu</a>
          </div>
        
          {% elif button_o%}
          <div class="skills__project project" id="project">
              
              <a class="project__link" href="ozet">Özet çıkarma</a>
          </div>
        
          {% elif button_todo%}
          <div class="skills__project project" id="project">
              
              <a class="project__link" href="todo">Yapılacaklar listesi</a>
          </div>
        {% endif %}
      </section>
      <!-- Geri bildirim formu -->
      
    </main>
    <!-- Sosyal medya bağlantıları için bir alt bilgi -->
    
  </body>
</html>
