<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESLİ ASİSTAN</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="header">
        
    
      </header>
      <main>
        {% block content %}
        <form action="{{ url_for('cevap') }}" method="post" class="creat-form">
            <div class="form__card">
                
                <div class="form__inputs">
                    
                    <label for="subtitle">
                        <textarea  class="form__input" type="text" name="subtitle" id="subtitle" placeholder="Girdinin açıklamasını girin">{{s}}</textarea>
                    </label>
                </div>
                <label for="text">
                    <textarea class="form__input2" name="text" id="text" cols="30" rows="10"  placeholder="">{{c2}}</textarea>
                    
                    
                </label>
                <a class="form__button" href="/ses">Ses kayıt.</a>
                <button class="form__button">Gönder</button>
                <a class="form__button" href="/">Geri</a>
                
            </div>
        </form>
        {% endblock %}
      </main>
      
</body>
<footer>

</footer>
</html>