<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather forecast</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>

<main>
    
    {% block content %}
    <form method="POST" action="{{h_d}}" method="post" class="form">
        <div class="user">
            <ul class="user-info">
            
                
                <li class="user-info__item">
                    <label for="sehir">Şehriniz</label>
                    <input class="form__input" id="sehir" type="text" placeholder="sehir" name="sehir">
                  </li>
                  <button class="form__button" type="submit">Göster.</button>
            </ul>
        </div>
    </form>
    {% endblock %}


    
</main>



</body>
</html>