<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yapılacaklar listesi</title>
    <link rel="stylesheet" href="../static/css/style.css" />

</head>
<body>
    <form action="{{ url_for('y_l') }}" method="post" class="creat-form">
        <div class="form__card">
            
            <div class="form__inputs">
                
                <label for="icerik">
                    <input  class="form__input" type="text" name="icerik" id="icerik" placeholder="İcerik:"></input>
                </label>
            </div>
            <label for="saat">
                <input class="form__input" type="text" name="saat" id="saat" placeholder="Tarih"></input>
                
                
            </label>
            
            <button class="form__button">Gönder</button>
            <a class="form__button" href="/">Geri</a>
            
        </div>
    </form>
    {%if t_d==[]%}
    <p>Tüm işler bitti.</p>
    {%else%}
    <table>
        <thead>
            <tr>
                <th>Tarih</th>
                <th>İçerik</th>
                <th>Tamamlanma durumu</th>
                
            </tr>
        </thead>
        <tbody>
            {%for i in t_d%}
            {%if i.complete==False%}
            <tr>
                <td>{{i.saat}}</td>
                <td>{{i.content}}</td>
                
                <td><a href="complete/{{i.id}}">Tamamla</a></td>
            </tr>
            {%endif%}
            {%endfor%}
        </tbody>
    </table>
    {%endif%}
</body>
</html>